<section>
  <div class="container">
    <div class="row">
      <div class="col m2 s2 card__box">
        <a href="#malay">
          <div class="card z-depth-0">
            <div class="card-image category-img-box">
              <img
                src="https://lamanresepi.com/wp-content/uploads/2017/01/Resepi-Nasi-Ayam.jpg"
                alt=""
              />
              <span class="card-title">Malay</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col m2 s2 card__box">
        <a href="#japanese">
          <div class="card z-depth-0">
            <div class="card-image category-img-box">
              <img
                src="https://i.ytimg.com/vi/7ExN9-pXw3s/maxresdefault.jpg"
                alt=""
              />
              <span class="card-title">Japanese</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col m2 s2 card__box">
        <a href="#chinese">
          <div class="card z-depth-0">
            <div class="card-image category-img-box">
              <img
                src="https://www.livingmsia.com/wp-content/uploads/2017/08/1-alternative-featured.jpg"
                alt=""
              />
              <span class="card-title">Chinese</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col m2 s2 card__box">
        <a href="#western">
          <div class="card z-depth-0">
            <div class="card-image category-img-box">
              <img
                src="https://www.foodadvisor.my/attachments/d7fcd7c5f34ced5fa32bc05db948f0aec61180f1/store/fill/800/500/4443570f32311cc92f7494949edd472423a591f3ce1620d2aa0c1c5dd41a/featured_image.jpg"
                alt=""
              />
              <span class="card-title">Western</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col m2 s2 card__box">
        <a href="#sides">
          <div class="card z-depth-0">
            <div class="card-image category-img-box">
              <img
                src="https://assets3.thrillist.com/v1/image/2673291/size/tmg-article_default_mobile.jpg"
                alt=""
              />
              <span class="card-title">Sides</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col m2 s2 card__box">
        <a href="#drinks">
          <div class="card z-depth-0">
            <div class="card-image category-img-box">
              <img
                src="https://www.banquet-in-a-box.co.uk/wp-content/uploads/2018/08/d-1800x1000.jpg"
                alt=""
              />
              <span class="card-title">Drinks</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
